<form autocomplete="off" id="form-patrol">
    <div class="patrol-tabs">
        <button class="nav-tab settings-button selected" type="button">Settings</button>
        <button class="nav-tab quotes-button" type="button">Quotes</button>
        <button class="nav-tab vision-button" type="button">Vision</button>
        <button class="nav-tab audio-button" type="button">Audio</button>
    </div>
    <div id="patrol-body">
        <div id="patrol-settings" class="show">
            <ul>
                <li>
                    <label>Delete Token: </label>
                    <input type="checkbox" name="delete" data-dtype="Boolean" />
                    <p class="notes">Checking this will delete all existing routes</p>
                </li>
                <li>
                    <label>Linear mode: </label>
                    <input type="checkbox" name="isLinear" data-dtype="Boolean" {{{determineChecked isLinear}}} />
                    <p class="notes">Checking this will make a token move to every grid between it and it's target</p>
                </li>
                <li>
                    <label>Cycle mode: </label>
                    <input type="checkbox" name="inverted" data-dtype="Boolean" {{{determineChecked inverted}}} />
                    <p class="notes">This will make the token go back and forth, rather than a circle.</p>
                </li>
                <li>
                    <label>Rotate token: </label>
                    <input type="checkbox" name="tokenRotation" data-dtype="Boolean" {{{determineChecked tokenRotation}}} />
                    <p class="notes">This will rotate the token towards the next point. This works well with top down tokens.</p>
                </li>
                <li>
                    <label>Set Token delays</label>
                    <textarea name="delayPeriod" data-dtype="String" placeholder='Ex1: "2,3,4,5" Ex2: "2-4" (1,2,3,4)'>{{delayPeriod}}</textarea>
                    <p class="notes">This will set the delays the token will wait between points.</p>
                </li>
            </ul>
        </div>
        <div id="quotes" class="hide">
            <ul>
                <li>
                    <label>Enable quotes: </label
                    ><input type="checkbox" name="enableQuotes" {{{determineChecked enableQuotes}}} data-dtype="Boolean" />
                    <p class="notes">Enables quotes. With this option disabled, no quotes will be displayed.</p>
                </li>
                <li class="form-group">
                    <label>Patrol Quote Percent Chance</label>
                    <div class="form-fields">
                        <input name="patrolPercent" class="image" type="number" min="0" max="100" data-dtype="Number" value="{{patrolPercent}}" />
                    </div>

                    <p class="notes">This is the percent chance of the patrol quotes playing at each stop.</p>
                </li>
                {{#if polygot}}
                <li>
                    <div class="polyglot-lang-select-patrol flexrow">
                        <label>Language : </label>
                        <select id="polyglot-patrol">
                            {{#each lang}}
                            <option value="{{lang}}" {{{determineSelected this ../tokenId}}}>{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                </li>
                {{/if}}
                <li>
                    <label>Patrol Quotes</label>
                    <textarea
                        name="patrolQuotes"
                        data-dtype="String"
                        placeholder="'Place your quotes between single quotation marks!' 'Just like this!'"
                    >
{{patrolQuotes}}
                    </textarea>
                    <p class="notes">This will be quotes randomly spoken during patrols</p>
                </li>
                <li>
                    <label>In Vision Quotes</label>
                    <textarea
                        name="catchQuotes"
                        data-dtype="String"
                        placeholder="'Place your quotes between single quotation marks!' 'Just like this!'"
                    >
{{catchQuotes}}
                    </textarea>
                    <p class="notes">This will be quotes spoken when a target is seen</p>
                </li>
                <li>
                    <label>Other Token Vision Quotes</label>
                    <textarea
                        name="otherTokenVisionQuotes"
                        data-dtype="String"
                        placeholder="'This is for the above option!' 'You can use {token.name} literally to substitute a name' 'Howdy, {token.name}, how goes the patrol'"
                    >
{{otherTokenVisionQuotes}}
                    </textarea>
                    <p class="notes">This will be quotes spoken when a target that is not the player is seen</p>
                </li>
            </ul>
        </div>
        <div id="vision" class="hide">
            <ul>
                <li>
                    <label>Enable vision: </label
                    ><input type="checkbox" name="visionChecking" {{{determineChecked visionChecking}}} data-dtype="Boolean" />
                    <p class="notes">Enables vision so that the token can use sight based features.</p>
                </li>
                <li>
                    <label>Other Token Vision Mode: </label>
                    <input type="checkbox" name="otherTokenVision" data-dtype="Boolean" {{{determineChecked otherTokenVision}}} />
                    <p class="notes">
                        Instead of saying something when a player is seen, say something when a token that ISN'T controlled by a player is seen.
                    </p>
                </li>
                <li>
                    <label>Stop patrol when seen: </label
                    ><input type="checkbox" name="stopWhenSeen" {{{determineChecked stopWhenSeen}}} data-dtype="Boolean" />
                </li>
                <p class="notes">If the token sees a player, it will stop.</p>
                <li>
                    <label>Create combat when seen: </label
                    ><input type="checkbox" name="createCombat" {{{determineChecked createCombat}}} data-dtype="Boolean" />
                </li>
                <p class="notes">If the token sees a player, it will start a combat.</p>
                <li>
                    <label>Pause Game when seen: </label
                    ><input type="checkbox" name="pauseGame" {{{determineChecked pauseGame}}} data-dtype="Boolean" />
                </li>
                <p class="notes">If the token sees a player, it will pause the game.</p>
            </ul>
        </div>
        <div id="audio" class="hide">
            <ul>
                <li>
                    <div class="form-group">
                        <label>Audio Source</label>
                        <div class="form-fields">
                            <button type="button" class="file-picker" data-type="audio" data-target="audioPath" title="Browse Files" tabindex="-1">
                                <i class="fas fa-file-import fa-fw"></i>
                            </button>
                            <input class="imag" type="text" name="audioPath" placeholder="path/audio.mp3" value="{{audioPath}}" />
                        </div>
                    </div>
                </li>
                <li>
                    <label>Local mode: </label><input type="checkbox" name="audioLocal" {{{determineChecked audioLocal}}} data-dtype="Boolean" />
                    <p class="notes">Enables local audio (Audio won't play through walls).</p>
                </li>
                <li class="form-group">
                    <label>Radius</label>
                    <div class="form-fields">
                        <input name="audioRadius" class="image" type="number" data-dtype="Number" value="{{audioRadius}}" />
                    </div>

                    <p class="notes">This is the radius of the ambient sound following the token.</p>
                </li>
                <li class="form-group">
                    <label>Volume</label>
                    <div class="form-fields">
                        <input
                            name="audioVolume"
                            class="image"
                            type="number"
                            data-dtype="Number"
                            placeholder="0.5"
                            step="0.1"
                            min="0"
                            max="1.0"
                            value="{{audioVolume}}"
                        />
                    </div>

                    <p class="notes">This is the volume of the ambient sound from a scale of 0.1-1.0</p>
                </li>
            </ul>
        </div>
    </div>
    <footer class="submit-patrol">
        <button class="submit-button" type="submit" value="1">Submit</button>
    </footer>
</form>
